.labeled-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.labeled-input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(50px, 25px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.labeled-input-container:focus-within label {
  border-radius: 8px;
  padding: 6px;
  font-size: smaller;
  transform: translate(30px, 2px) scale(0.8);
  color: white;
  background-color: rgb(var(--button-background-rgb));
}

.labeled-input-container .input-filled {
  border-radius: 8px;
  padding: 6px;
  font-size: smaller;
  transform: translate(30px, 2px) scale(0.8);
  color: white;
  background-color: rgb(var(--button-background-rgb));
}
