@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --button-background-rgb: 43, 43, 43;
  --button-foreground-rgb: 255, 255, 255;
  --summary-edit-button-rgb: 43, 43, 43;
  --tertiary-rgb: 117, 117, 117;
  --progress-bar-bg-filled: 43, 43, 43;
  --progress-bar-bg-empty: 148, 148, 148;
  --input-border-shadow: 148, 148, 148;
  --long-width: 312px;
  --mid-width: 144px;
  --small-width: 90px;
  --icon-width: 50px;
  --large-icon-width: 100px;
  --icon-background-width: 86px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --button-background-rgb: 180, 180, 180;
    --button-foreground-rgb: 255, 255, 255;
    --summary-edit-button-rgb: 43, 43, 43;
    --tertiary-rgb: 117, 117, 117;
    --progress-bar-bg-filled: 200, 200, 200;
    --progress-bar-bg-empty: 148, 148, 148;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: rgb(var(--background-end-rgb));
}

input {
  color: black;
  border-radius: 8px;
  padding: 8px;
  border-color: rgb(var(--input-border-shadow));
  border-width: 1.5px;
  min-height: 50px;
  min-width: var(--long-width);
  margin: 10px auto;
  font-family: var(--font-open_sans);
}

.esri-ui-corner .esri-component {
  box-shadow: none !important;
}

.header-3 {
  font-family: var(--font-open_sans);
  font-weight: 600;
  font-size: 12pt;
}

.header-2 {
  font-family: var(--font-open_sans);
  font-weight: 600;
  font-size: 18pt;
}

.header-4 {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 10pt;
}

/* .esri-ui-top-right {
  top: 0px !important;
  right: -50% !important;
  transform: translateX(-50%);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
