.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.title-text {
  font-size: xx-large;
  text-align: justify;
  text-align: center;
  margin: 12px;
}

.action-item-container {
  background-color: rgb(var(--tertiary-rgb));
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--long-width);
  min-height: 140px;

  font-size: smaller;
  color: rgb(var(--button-foreground-rgb));
  margin: 10px;
}

.access-form-buttons {
  display: flex;
  justify-content: flex-end;
}

.access-form-buttons button {
  margin: 12px;
}

.accept-button {
  background-color: rgb(var(--button-background-rgb));
  width: var(--small-width);
}

.reject-button {
  color: rgb(var(--button-background-rgb));
}

.action-item-container p {
  font-family: var(--font-open_sans);
  font-weight: 800;
}

.action-item-container button {
  font-family: var(--font-roboto);
  font-weight: 700;
}
